.SanitationDiv {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDiv {
    display: flex;
    align-items: stretch;
    gap: 128px;
    height: 70vh;
    justify-content: space-between;
}

.inputDiv {
    outline: #01254A solid 6px;
    border-radius: 32px;
    padding: 32px;
}
