.requestButtonsDiv {
    outline: #01254A solid 6px;
    border-radius: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

button {
    width: 250px;
    height: 50px;
    margin-bottom: 16px;
}