.root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCE2E8;
}

h1 {
    margin: 0 0 32px 0;
    font-size: 64px;
}